aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
build==0.9.0
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
crcmod==1.7
cryptography==38.0.1
ecdsa==0.18.0
frozenlist==1.3.0
idna==3.3
influxdb==5.3.1
influxdb-client==1.35.0
intelhex==2.3.0
libusb1==3.0.0
meraki==1.27.0
msgpack==1.0.4
multidict==6.0.2
nrfutil==6.0.0a1
openai==0.26.0
packaging==21.3
pc-ble-driver-py==0.17.0
pep517==0.13.0
piccata==2.0.1
pip-tools==6.11.0
protobuf==4.21.7
pycparser==2.21
pyparsing==3.0.9
pyserial==3.5
pyspinel==1.0.3
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
reactivex==4.0.4
requests==2.27.1
six==1.16.0
tomli==2.0.1
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.9
wrapt==1.14.1
yarl==1.7.2
